doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/particle-network.min.js)
    script(src="/javascripts/particle_canvas.js")
  body#swarm
    block content
